__pycache__/
doc/html/
dist/
cmemo_native/Release/
doc/obj/
cmemo_native.exp
cmemo_native.lib
cmemo_native.pdb
cmemo_native/cmemo_native.sdf
cmemo_native/cmemo_native.suo
cmemo_native/cmemo_native.vcxproj.user
tags
cmemo_native/cmemo_native.v12.suo
cmemo_native/Debug/
build/
library.zip
Debug/
Release/
lib/
cmemo_native.pyd
python38.dll
cmemo_d.pdb
cmemo_d.exe
cmemo.vcxproj.user
cmemo.sdf
cmemo.pdb
cmemo.ipdb
cmemo.iobj
cmemo.exe
cmemo.aps
cmemo_d.ilk
.vs/
